<template>
  <section class="container">
    <div>
      <logo/>
      <h1 class="title">{{ name }}</h1>
      <h2 class="subtitle">
        Nuxt.js + electron project
      </h2>
      <div class="links">
        <a @click.prevent="open('https://nuxtjs.org/')" class="button--green">Documentation</a>
        <a @click.prevent="open('https://gitlab.com/rovergames')" class="button--grey">rovergames</a>
      </div>
    </div>
  </section>
</template>

<script>
import Logo from '~/components/Logo.vue'

export default {
    components: {
      Logo
    },
    methods: {
      open (link) {
        this.$electron.shell.openExternal(link);
      }
    }
}
</script>

<style>
.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; /* 1 */
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
